@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom right, #dcdef8, #ffffff 50%, #dcdef8);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  background: #0e2853;
  background: repeating-linear-gradient(90deg, #0e2853 0, #3f0aff 50%, #134494);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_description {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
}

.link_smidia {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_smidia {
  width: 28px;
  height: 28px;
}

.line_smidia {
  width: 12%;
  height: 1px;
  background-color: #000;
}

.line_projects {
  height: 1px;
  background-color: #e0e0e0;
}
