@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color:#191D1E;
}

*::-webkit-scrollbar-thumb {
  background-color:#4e4f50;
}

#container {
  background-image: linear-gradient(to bottom right, #dcdef8, #ffffff 50%, #dcdef8);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  background: #0e2853;
  background: repeating-linear-gradient(90deg, #0e2853 0, #3f0aff 50%, #134494);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

